= image_tag(asset_path("oreo-small.jpg"))


.row.marketing
  .col-lg-6

    %p Hey there!
    %p 
      My name is Tim, and I've put together this site to let
      you all keep track of who's at the dog park, and when
      they're there. Oreo was so sad that he kept going to
      the park when nobody was there, so he asked me to do
      this for him. I can't say no to that adorable face
    %p 
      On this site, you can add all your doggies to your
      profile using the
      = link_to "profile link above.", profile_path
      Once you've added some dogs, you can click
      = link_to "\"Check In!\"", check_in_path, :method => :post
      to let everyone know that your puppies are down at the park
    %p
      This site is pretty simple and to the point. I wanted
      to build something simple that would help us all stay
      connected. I don't have much else planned for this site,
      but if you have any ideas that would really make it better,
      please let me know 
      = link_to "by clicking here.", "mailto:rz+actondogpark@eqdw.net"
    %p
      I hope you all find this site useful. If you would like to
      and are able, please consider donating to the site. It
      only costs a few bucks a month to run, but I've spent a
      good amount of time on it already. For only a dollar, you
      too can give Oreo a delicious treat
