.jumbotron
  %h1.bright Acton Dog Park
  - if user_signed_in?
    = form_tag(check_in_path) do
      = submit_tag "Check In!",     :class => "btn btn-lg btn-success"

.row.marketing
  .col-lg-6
    - if @recent_checkins.any?
      %h4 These dogs are currently at the dog park:
      %ul
        - @recent_checkins.each do |checkin|
          %li
            %em
              = link_to checkin.name, dog_path(checkin.dog_id)
            was there
            %strong== #{time_ago_in_words(checkin.created_at)} ago

    - else
      %h4 There are no dogs at the dog park :(
