.row.marketing
  .col-lg-12

    %div{:style => "width: 45%; float: left"}
      %h4 Sign Up!
      = image_tag "qrcode-signup.png"

    %div{:style => "width: 45%; float: right"}
      %h4 Check In!
      = image_tag "qrcode-checkin.png"

    %br{:style => "clear: both"}

    %div
      %h4 About Us!
      = image_tag "qrcode-about.png"
