.row.marketing
  .col-lg-12
    %h2{:style => "text-align: center;"}
      Use our check-in app to see who's at the dog park!
      %br
      http://www.actondogpark.net

    %div{:style => "width: 45%; float: left"}
      %h4 Sign Up!
      = image_tag "qrcode-signup.png"

    %div{:style => "width: 45%; float: right"}
      %h4 Check In!
      = image_tag "qrcode-checkin.png"

    %br{:style => "clear: both"}

    %div{:style => "width: 45%; float: left"}
      %h4 About Us!
      = image_tag "qrcode-about.png"

    %div{:style => "width: 45%; float: right"}
      %h4 Email Feedback! rz+actondogpark@eqdw.net
      = image_tag "qrcode-email.png"
