#dog-list {
  background: rgba(255,255,255,0.8);
  width: 200px;
  border: 2px solid #888;
  border-radius: 15px;
  margin: 0 auto;
}

#dog-list ul {
  display: inline;
  text-align: center;
}

#dog-list li {
  list-style-type: none;
  display: block;
  text-align: center;
}

#dog-list label, #dog-list input {
  display: inline;
  text-align: center;
}



.oreo {
  background: url('<%= asset_path("better-oreo-small.jpg") %> ');
  width: 240px;
  height: 160px;
  margin: 0 auto;
}

@media screen and ( min-width: 600px ) {
  .oreo {
    background: url('<%= asset_path("better-oreo.jpg") %> ');
    width: 640px;
    height: 427px;
    margin: 0 auto;
  }
}
.jumbotron {
  background: url('<%= asset_path("dog_park.jpg") %> ');
  background-position-y: -28px;
  background-repeat: repeat-x;
}
.jumbotron input{
  display: block;
  margin: 12px auto;
}
.jumbotron h1.bright{
  margin-bottom: 40px;
  color: #EEE;
}

li.donate > a,
li.donate > a:focus,
li.donate > a:hover{
  color: white;
  background-color: #f0ad4e;
  border-radius: 4px;
}
